.movie, .deleteButton {
   margin-top: 8px;
   margin-bottom: 8xp;
}

.errorMessage {
   display:inline-block;
}
.errorMessage p {
   font-size: 12px;
   color: red;
   padding-left: 20px;
}

.col {
   padding: .5%;
   float:left;
   vertical-align: top;
   min-height: 90vh;
}

.light {
   background: #57b3f1;
}

.dark.p{

   vertical-align: middle;
}

.dark {
   height: 5%;
   background: #2885c4;
   text-align:center;
}

.sidebar {
   backGround: rgb(66, 202, 243);
   max-width: 25%;
}

input.txt {
   padding: 1%;
   margin-left: 1%;
   margin-top: 0%;
}

.sidebar p {
   cursor: pointer;
   margin: 0;
}

input.btn {
   margin: 1%;
   display: inline;
   background: #a5f883;
   color: #003a61;
   cursor: pointer;
   padding: 15px;
}
.sidebar input {
   padding: 5%;
   margin: 2%;
}

.expand {
   padding-top: 2vh;
   padding-bottom: 2vh;
   border: 0;
   text-align: center;
   margin:auto;
   width: 100%;
   background: #a5f883;
   color: #003a61;
   cursor: pointer;
}

.movie {
   padding-left: 20px;
   max-width: 50%;
   display:inline-block;
}

.deleteButton {
   float:right;
   background: #a5f883;
   color: #003a61;
   cursor: pointer;
   padding: 1px;
}

.movies, .lists {
   background: #3fa0e1;
   padding: 15px;
   overflow-wrap: break-word;
}

.movies {
   float: none;
}

.createMovie {
   width: 20%;
   float: left;
}

.screen {
   overflow: hidden
}

li {
   list-style-type: none;
}

h1 {
   white-space: nowrap;
   overflow: hidden;
   text-overflow: ellipsis;
}